.routecard__lg {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 950px;
    min-height: 394px;
    padding: 20px 20px 20px 44px;
    box-shadow: 0px 4px 40px rgb(5 19 53 / 10%);
}

.routecard__lg-features {
    width: 335px;
}

.routecard__lg-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal {
    /* position: absolute; */
    
    left: 0;
    top: 0;
    background-color: black;
    
    border-radius: 16px;
    
}
.point {
    position: absolute;
    /* content: url(/img/ico/calculator.png); */
    left: 100px;
    top: 148px;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 16px;
}

.point span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: absolute;
    left: 200px;
    background: #fff;
    box-shadow: -2px 2px 10px -1px #333; 
    border-radius: 5px;	
}

.point:hover span{
    visibility: visible;
    }

.polygon {
    position: absolute;
    top: 15px;
    right: 150px;
    transition: 1s; /* Время эффекта */
}

.polygon2 {
    position: absolute;
    top: 15px;
    right: 80px;
    transition: 1s; /* Время эффекта */
}

.polygon3 {
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 1s; /* Время эффекта */
}

.polygon:hover {
    
    
    transform: scale(3.2);
    z-index: 1;
}

.point:hover span {
    transform: scale(3.2);
    z-index: 1;
}

.polygon3:hover {
    transform: scale(3.2);
    z-index: 1;
}

.routecard__lg-header {
    
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #205694;
    margin-bottom: 31px;
    
}

.routecard__lg-list  {
    display: flex;
    flex-direction: column;
    list-style-type: decimal;
    padding-bottom: 20px;
    margin-left: 18px;
}

.routecard__lg-item {
    font-weight: 600;
    Font-size: 15px;
    Line-height: 20px;
    Opacity: 40%;
    Fill: Solid;
    color: #272A35;
}


.routecard__lg-abouttime {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 11px;
}

.routecard__lg-descr {
    /* font-weight: 600;
    Font-size: 15px;
    Line-height: 17px;
    color: #000000; */
    margin-bottom: 36px;
}

.routecard__lg-descrtime, .routecard__lg-descrentertainment{
    margin-left: 3px;
    font-weight: 600;
    color: #3E5E82;
}

.routecard__lg-about-entertainment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 11px;
}

.routecard__lg-nonumlist {
    list-style-type: none;
}





