.main {
    position: relative;
    padding: 106px 0 193px;
    
    /* height: 100vh; */
    /* height: 953px; */
}

.mainscreen {
    height: 500px;
}

.mainscreen-video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
.main::after{
    position: absolute;
    content: url(/public/img/main-bgback.png);
    /* left: 0; */
    /* bottom: 0;
    left:0;
    min-width: 1440px;
*/ 

.main__text {
    margin-bottom: 61px;
}

.main__text-header {
    font-weight: 500;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.main__text-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.main__buttons {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

.main__button-catalog {
    /* display: inline-block; */
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFC42C;
    box-shadow: inset 0px 0px 4px #FFFFFF;
    border-radius: 10px;
    padding: 20px 37px 20px 47px;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;   
}

.main__button-catalog::after{
    position: absolute;
    content: url(/img/ico/button-logo.svg);
    right: 6%;
    top: 30%;
}

.main__button-selection {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #FFFFFF 0%, #F7C23A 100%);
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 0px 4px #FFFFFF;
    border-radius: 10px;
    padding: 20px 0 20px 0px;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #000000;  
}

.mainscreen__menu {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.mainscreen__menu a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    color: #fff;
    padding: 73px 65px;
    transition: all .5s;
    position: relative;
}

.mainscreen__link_left::after {
    display: block;
    content: "";
    width: 1.5px;
    height: 150px;
    background: #fff;
    transition: all .5s;
    transform: rotate(-35deg);
    position: absolute;
    top: 2px;
    right: 4px;
}

.mainscreen__link_right::before {
    display: block;
    content: "";
    width: 1.5px;
    height: 150px;
    background: #fff;
    transition: all .5s;
    transform: rotate(-35deg);
    position: absolute;
    top: 6px;
    left: 7px;
}

.mainscreen__menu a:hover {
    text-decoration: underline;
}

.mainscreen__menu .mainscreen__link_left:hover::after {
    transform: rotate(-35deg) translateY(-20px);
}

.mainscreen__menu .mainscreen__link_right:hover::before {
    transform: rotate(-35deg) translateY(-40px);
}
