#filter__button {
    padding: 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background: transparent;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    color: #FFFFFF;
    width: 105px;
    opacity: 0.4;
}

#filter__button .active{
    color: #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC42C;
}

#main__filter-button {
    width: 100%;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 0;
    margin-bottom: 24px;
    cursor: pointer;
}

.active {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC42C;
    
}

.filter__button-list {
    display: flex;
    gap: 10px;
    list-style: none;
}