.aboutboat__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0 70px 0;
    height: 606px;
}

.aboutboat__main-slider {
    width: 620px;
    height: 456px; 
}

.aboutboat__main-slider img {
    width: 100%;
    background-size: cover;
    
}

.aboutboat__main-info {
    width: 620px;
    height: 456px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(5, 19, 53, 0.1);
}

.aboutboat__header {   
    padding: 44px 165px 22px 50px;
    font-weight: 500;
    font-size: 37px;
    line-height: 48px;
    color: #205694;
}

.line{
    opacity: 0.1;
    border-bottom: 1px solid #000000;
}

.aboutboat__main-about {
    padding: 30px 65px 30px 50px;
}

.aboutboat__list-wrap {
    display: flex;
    justify-content: space-between;
}

.aboutboat__item {
    display: flex;
    flex: row;
    align-items: center;
    margin-bottom: 13px; 
}

.aboutboat__item-text {
    margin-left: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.aboutboat__item-data {
    margin-left: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3E5E82;
}

.reserve__wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 90px 11px 50px;
    align-items: center;
}

.aboutboat__button {
    display: flex;
    align-items: center;
}

.aboutboat__button-reserve {
    min-width: 260px;
    background: transparent;
    border-radius: 6px;
    border: 2px solid #FFC42C;
    padding: 19px 47px 19px 47px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-right: 11px; 
}

.aboutboat__button-reserve:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC42C;
}

.aboutboat__price {
    align-items: center;
}

.slick-dots {
    bottom: -137px;
}

.slick-dots li{
   height: 105px;
    width: 113px;
}

.slick-dots li img {
    background-size: cover;
}

.slick-list {
    border-radius: 10px;
}