.footer {
    padding: 40px 0 58px;
    background-color: #012146;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__tel {
    display: flex;
    align-items: center;
}

.footer__tel img {
    margin-right: 10px;
}

.footer__social a:not(:first-child) {
    margin-left: 9px;
}

