.questions {
    padding-bottom: 62px;
}

.questions__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 64px;
    background: linear-gradient(0deg, #205694, #205694), linear-gradient(0deg, #090E94, #090E94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
}

.questions__main  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.questions__item { 
    position: relative;
    display: inline-block;
    max-width: 635px;
    min-height: 200px;
    padding: 30px 83px 39px 32px;
    box-shadow: (0px 4px 40px rgba(5, 19, 53, 0.1));
    background-color: #ffff;
    border-radius: 10px;
}

.questions__item::after {
    position: absolute;
    content: url(/public/img/ico/cross.svg);
    right: 35px;
    top: 30px;
}

.questions__item-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
}

.questions__item-descr {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #272A35;
    opacity: 0.4;
}

.cross {
    width: 26px;
    height: 26px;
}