.questions {
    padding-bottom: 62px;
}

.questions__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 64px;
    background: linear-gradient(0deg, #205694, #205694), linear-gradient(0deg, #090E94, #090E94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
}

.questions__main  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.questions__main-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 334px;
}

.questions__main-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 334px;
}